{
  "presets": [["@babel/env", { "shippedProposals": true }], "@babel/react"],
  "plugins": [
    "@babel/transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./src"]
      }
    ]
  ]
}
