{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "@babel/transform-runtime",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "root": "./src"
        }
      }
    ]
  ]
}
