@import 'vars';

.btn {
  display: inherit;
  border-radius: $radius;
  padding: 4px;

  &:hover {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  &:active {
    background-color: rgba($color: #ffffff, $alpha: 0.25);
  }
}
