@import 'vars';

.btn {
  display: inherit;
  border-radius: $radius;
  padding: 4px;

  &.disable {
    opacity: 0.5;
  }

  &:hover:not(.disable) {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
  }

  &:active:not(.disable) {
    background-color: rgba($color: #ffffff, $alpha: 0.25);
  }
}
