@import '../../styles/vars';

.address-bar {
  background-color: $dark;
  padding: 4px 6px;
  gap: 0.5rem;

  .search-field {
    border-radius: $radius;
    border: 1px solid white;
    width: 100%;
    max-width: 70%;
    margin: auto;

    .btn {
      border-radius: 0;
    }

    input {
      width: 100%;
      outline: none;
      padding: 0 4px;
      border: none;
    }
  }
}
