// *,
// *::after,
// *::before {
//   -webkit-user-select: none;
//   -webkit-user-drag: none;
//   -webkit-app-region: no-drag;
//   cursor: default;
// }

@import '../../styles/_vars';

* {
  margin: unset;
}

.tabs-container {
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 7.5rem;
  padding-right: 5.5rem;
  -webkit-app-region: drag;
  background-color: $title-dark;

  * {
    -webkit-app-region: no-drag;
  }

  .tabs {
    // width: 100%;
    display: flex;
    overflow-y: hidden;
    // overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      width: 0px;
      height: 0;
      background: transparent; /* make scrollbar transparent */
    }

    gap: 4px;

    .tab {
      border-radius: 4px;
      min-width: 100px;
      padding: 4px;
      max-width: 180px;
      width: 100vw;
      font-size: 0.75rem;

      * {
        color: white;
      }

      p {
        user-select: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      .btn-close {
        min-width: 16px;
        min-height: 16px;
        width: 16px;
        height: 16px;
        margin-left: 4px;
      }

      &.active {
        background-color: rgba(255, 255, 255, 0.25);
      }

      &:hover:not(.active) {
        background-color: rgba(255, 255, 255, 0.15);
      }
    }
  }

  .btn-add {
    min-width: 28px;
    min-height: 28px;
    width: 28px;
    height: 28px;
  }
}
