.tabs-container {
  display: flex;

  .tabs {
    // width: 100%;
    display: flex;
    overflow-y: hidden;
    overflow-x: hidden;
    gap: 4px;

    .tab {
      border: 1px solid black;
      border-radius: 4px;
      min-width: 120px;
      padding: 2px 4px;
    }
  }
}
